{% extends 'baselayout/no-page-header.html.twig' %}

{% block title %}Edit Room{% endblock title %}

{% block main %}
	<h1>Edit Room</h1>
	
	{{ include('room/_form.html.twig', {'button_label': 'Update'}) }}
	
	<br/>
	{% if app.user and is_granted('ROLE_ADMIN') %}
		{{ include('room/_delete_form.html.twig') }}
	{% endif %}
{% endblock main %}
