{% extends 'baselayout/no-page-header.html.twig' %}

{% block title %}New Room{% endblock title %}

{% block main %}
	<h1>Create new Room</h1>
	
	{{ include('room/_form.html.twig') }}
	
	<br/>
	<a href="{{ path('room_index') }}">back to list</a>
{% endblock main %}
