{% extends 'baselayout/with-page-header/small.html.twig' %}


{% block title %}{{ project_name }} - Welcome{% endblock %}

{% block page_header_content %}
	<div class="row align-items-center">
		<div class="col-md-7">
			<h1 class="title">{{ project_name }}: all the places you need, in one place.</h1>
		</div>
		<div class="col-sm-1"></div>
		<div class="col">
			<div class="card card-raised">
				<div class="container">
					$Basic search here maybe$
				</div>
			</div>
		</div>
	</div>
{% endblock page_header_content %}

{% block main %}
	<div class="section text-center">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<h2 class="title">Our offer</h2>
				<h3 class="description">Here you will find some selected rooms:</h3>
			</div>
		</div>
		<div class="features">
			<div class="row">
				<div class="col">
					<div class="info">
						<div class="icon icon-info">
							<i class="material-icons">image</i><br/>
							$Image here$
						</div>
						<h4 class="info-title">Room 1 title</h4>
						<p>Room 1 short description, rating, price, ...</p>
					</div>
				</div>
				<div class="col">
					<div class="info">
						<div class="icon icon-success">
							<i class="material-icons">image</i><br/>
							$Image here$
						</div>
						<h4 class="info-title">Room 2 title</h4>
						<p>Room 2 short description, rating, price, ...</p>
					</div>
				</div>
				<div class="col">
					<div class="info">
						<div class="icon icon-danger">
							<i class="material-icons">image</i><br/>
							$Image here$
						</div>
						<h4 class="info-title">Room 3 title</h4>
						<p>Room 3 short description, rating, price, ...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section text-center">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<h2 class="title">All around the globe</h2>
				<h3 class="description">Rooms are available in many regions:</h3>
			</div>
		</div>
		<div class="features">
			<div class="row">
				<div class="col">
					<div class="info">
						<div class="icon icon-info">
							<i class="material-icons">image</i><br/>
							$Image here$
						</div>
						<h4 class="info-title">Region 1 name</h4>
						<p>Region 1 short description</p>
					</div>
				</div>
				<div class="col">
					<div class="info">
						<div class="icon icon-success">
							<i class="material-icons">image</i><br/>
							$Image here$
						</div>
						<h4 class="info-title">Region 2 name</h4>
						<p>Region 2 short description</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section text-center">
		<h2 class="title">Here is our team</h2>
		<div class="team">
			<div class="row">
				<div class="col">
					<div class="team-player" id="team-member-paul">
						<div class="card card-plain">
							<div class="col-md-6 ml-auto mr-auto">
								<img src="" alt="$Image here$" class="img-raised rounded-circle img-fluid">
							</div>
							<h4 class="card-title">
								Paul Mabileau<br>
								<small class="card-description text-muted">$Role here$</small>
							</h4>
							<div class="card-body">
								<p class="card-description">$Card description here$</p>
							</div>
							<div class="card-footer justify-content-center">
								<a href="https://github.com/PositivePaulo" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
								<a href="https://www.linkedin.com/in/paul-mabileau-b70ab3178/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
								<a href="https://www.facebook.com/paul.mabileau" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="team-player" id="team-member-alex">
						<div class="card card-plain">
							<div class="col-md-6 ml-auto mr-auto">
								<img src="" alt="$Image here$" class="img-raised rounded-circle img-fluid">
							</div>
							<h4 class="card-title">
								Alexandre Da Costa<br>
								<small class="card-description text-muted">$Role here$</small>
							</h4>
							<div class="card-body">
								<p class="card-description">$Card description here$</p>
							</div>
							<div class="card-footer justify-content-center">
								<a href="#team-member-alex" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="#team-member-alex" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
								<a href="#team-member-alex" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}