{% extends 'baselayout/no-page-header.html.twig' %}

{% block title %}{{ project_name }} - {{ region.getName() }} Region Edit{% endblock title %}

{% block main %}
	<h1>Edit Region</h1>
	
	{{ include('region/_form.html.twig', {'button_label': 'Update'}) }}
	
	<br/>
	{% if app.user and is_granted('ROLE_ADMIN') %}
		{{ include('region/_delete_form.html.twig') }}
	{% endif %}
{% endblock main %}
