{% extends 'baselayout/no-page-header.html.twig' %}

{% block title %}{{ project_name }} - Region index{% endblock title %}

{% block main %}
	<div class="pt-1 pb-4">
		<h1 class="title">Region index</h1>
		<hr class="my-4"/>
		
		{{ include('region/thumb_list.html.twig',
					{regions: regions,
						row_length: 3,
						max_col_width: 22,
						nothing_found_message: 'There seems to be a problem here.'},
					with_context = false) }}
	</div>
{% endblock main %}
