{% extends 'baselayout/no-page-header.html.twig' %}

{% block title %}New Region{% endblock title %}

{% block main %}
	<h1>Create new Region</h1>
	
	{{ include('region/_form.html.twig') }}
	
	<br/>
{% endblock main %}
